@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px){ 
    input, textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    section .intro ::after,
    section::after{
        display: none;
    }
    section .desc{
        width: auto;
    }
    .content-wrapper{
        margin: 25px;
    }
    .content{
        width: auto;
    }
    section{
        padding: 0px 10px;
        .intro{
            font-size: 22px;
        }
        .desc{
            font-size: 42px;
        }
        #list-heading,
        .list{
            display: none;
        }
    }
    footer{
        p{font-size: 22px;}
        h2{font-size: 34px;}
        form{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
            input{
                width: 90%;
                margin: 5px;
                height: 100px !important;
                border: none;
                border-radius: 0px;
                font-size: 42px;
                
            }
            input[type="submit"] {
                width: 93% !important;
                height: 100px !important;
                font-size: 42px;
                border: none;
                border-radius: 0px;
            }
        }    
        #footerNote{
            display: none;
        }
    }

}

@media only screen 
  and (min-device-width: 641px) 
  and (max-device-width: 768px){ 
    section{ 
        .intro{
            font-size: 22px;
        }
        .desc{
            font-size: 16px;
        }
        #list-heading{
            font-size: 18px;
        }
        .list {
            li {
                font-size: 16px;
            }
        }
    }
    section::after {
        height: 180px;
        width: 180px;
        background-size: 180px;
        bottom: 350px;
    }

    footer{
        p{font-size: 22px;}
        h2{font-size: 34px;}
        form{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
            input{
                width: 90%;
                margin: 5px;
                height: 50px !important;
                border: none;
                border-radius: 0px;
                font-size: 22px;
                
            }
            input[type="submit"] {
                width: 93% !important;
                height: 50px !important;
                font-size: 22px;
                border: none;
                border-radius: 0px;
            }
        }    
        #footerNote{
            display: none;
        }
    }
}

@media screen 
    and (min-device-width: 769px) 
    and (max-device-width: 1024px) { 
    section::after {
        height: 170px;
        width: 170px;
        background-size: 170px;
        bottom: 350px;
    }

}

@media screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1140px) { 
    section::after {
        height: 210px;
        width: 210px;
        background-size: 210px;
        bottom: 240px;
    }
}

@media screen 
    and (min-device-width: 1141px) 
    and (max-device-width: 1300px) { 
    section::after {
        height: 290px;
        width: 290px;
        background-size: 290px;
        bottom: 190px;
    }
}

@media screen 
    and (min-device-width: 1301px) 
    and (max-device-width: 1440px) { 
    section::after {
        height: 350px;
        width: 350px;
        background-size: 350px;
        bottom: 190px;
    }
}
