//Global Variables
$body-bkg : #454545;
$base-color: #9f173d;
$content-bkg-color: #FFF;
$footer-bkg : #9f173d;
$footer-content-color: #FFF;
$FuturaPTLight : 'Futura PT Light';
$FuturaPTRegular :'FuturaPTRegular';
$FreightDispBold: 'FreightDispBold';
$FreightDispBookRegular : 'FreightDispBookRegular';
$FreightDispBookIt: 'FreightDispBookIt';